<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lordma.employ.system.mapper.ProjectMapper">
<!--    分页查询    -->
<select id="getProjectInfoByStaffId" resultType="com.lordma.employ.system.dto.ProjectInfo" parameterType="com.lordma.employ.system.entity.Project">
    SELECT
        p.project_id
        , p.project_name
        , p.pcompany_id
        , p.endcompany_id
        , p.project_name
        , c.company_name AS endcompany_name
        , p.address
        , p.comment
        , p.start_date
        , p.end_date
    FROM
        project p
    INNER JOIN
        company_project c
    ON
        p.endcompany_id = c.company_id
    WHERE
        p.staff_id = #{project.staffId}
    ORDER BY
        p.start_date DESC
</select>
</mapper>
